.dashboard{
    display: flex;
    width: 100%;
}
.element-section{
    width: 450px;
    background-color: #303841;
    padding: 30px 25px;
    color: #eff2f7;
}
.ongoing-conversation{
    background-color: #262e35;
    width: 100%;
    color: #eff2f7;
    height: 100%;
}
.bottombar-container{
    display: none;
}

@media only screen and (max-width: 990px) {
    .bottombar-container{
        display: flex;
        position: fixed;
        bottom: 0;
        z-index: -1;
    }
    .element-section{
        position: absolute;
        padding: 0;
        width: 100vw;
        z-index: -10;
    }
}
@media only screen and (max-width: 480px) {
    .element-section{
        height: 100vh;
    }
}